#edit {
    max-width: 500px;
    text-align: center;
}

#edit h4 {
    font-weight: 600;
}

#edit a {
    color: #000000;
}

#edit a:hover {
    font-weight: 600;
    color: #000000;
}