.navbar {
    background-color: #FFFFFF;
    border:none;
    margin-top: 10px;
    margin-bottom: 50px;
}

.logo {
    /* 명지대 융합소프트웨어학부 로고 설정 */
    margin: 20px;
    /* width: 100%; */
}

.mju-logo {
    /* 명지대 로고 설정. 넓이만 설정해서 높이는 자동으로 조정 */
    width: 150px;
    height: auto;
    position: relative;
}

.sw {
    /* 융합소프트웨어학부 로고 설정. position 고정시켜서 중앙으로 배치 */
    font-family: Comic Sans MS;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 오른쪽 최상단 메뉴 */
#top-menu {
    float: right;
    margin-right: 30px;
}

#top-menu li {
    float: left;
    list-style-type: none;
}

#top-menu a {
    color: black;
    padding: 0 10px;
    display: block;
    text-decoration: none;
}