.layoutMenu {
    font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;
    margin-top: 100px;
    text-align: center;
    /* 글자, 단어 간격 */
    letter-spacing: -1px;
    word-spacing: -1px;
}

.layoutMenu .btn {
    background-color: transparent;
    color: #000000;
    margin: 15px;
    font-size: 1.1rem;
}

.layoutMenu .btn:hover {
    font-weight: 600;
}