<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- parameterType 에 alias 값을 사용한다. -->
	<typeAliases>
		<!-- 페이징 -->
		<typeAlias type="com.demo.model.Criteria" alias="Criteria"/>
		<!-- 계정 관련 -->
		<typeAlias type="com.demo.model.User" alias="User"/>
		<!-- 게시판 관련 -->
		<typeAlias type="com.demo.model.Post" alias="Post"/>
		<typeAlias type="com.demo.model.PostLike" alias="PostLike"/>
		<typeAlias type="com.demo.model.Comment" alias="Comment"/>
		<!-- 행사 관련 -->
		<typeAlias type="com.demo.model.Event" alias="Event"/>
		<typeAlias type="com.demo.model.EventApply" alias="EventApply"/>
	</typeAliases>
</configuration>